<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>MOBIG | MVNO Big Data Market</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="vendor/animate.css/animate.css"/>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="styles/pe-icons/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="styles/pe-icons/helper.css"/>
    <link rel="stylesheet" href="styles/stroke-icons/style.css"/>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

	<!-- Header/Navigation -->
	<% include ../partials/sample_navigation.ejs %>


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-lg-12">
                    <div class="panel m-b-none">
                        <div class="panel-body">
                            <h3 class="m-b-xs"><i class="pe pe-7s-graph1 text-warning m-r-xs"></i> Usage </h3>
                            <hr/>
                            <p class="small">
                                <span class="c-white">Monitoring view provide real time</span>
                                data from geographically distributed servers. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.
                            </p>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-9">

                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine SRF T51</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">REGT44</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">Germany</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage11">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine SRF T51</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">REGT44</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">Holland</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage12">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine GTR T31</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">TRG54</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">New York</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage13">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine UTV 291</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">GGV5</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">Germany</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage14">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine VFF 8UY</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">JUY3</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">Holland</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage15">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine FD43</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">7655</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">New York</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage16">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine UY2</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">5433</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">Germany</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage17">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine NNG 322</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">UYT5</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">Holland</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage18">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="panel m-b-none">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Machine DDEW 654</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Number</td>
                                            <td class="text-right">BG87</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td class="text-right">New York</td>
                                        </tr>
                                        <tr>
                                            <td>Usage</td>
                                            <td class="text-right"><span class="usage19">12</span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>


                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="panel panel-filled">


                        <div class="panel-body">

                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of
                            </p>

                            <table class="table">

                                <thead>
                                <tr>
                                    <th>
                                        Machine number
                                    </th>
                                    <th>
                                        Usage
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> SRF T51</td>
                                    <td><span class="usage1">12</span></td>
                                </tr>
                                <tr>
                                    <td> RTH 2T1</td>
                                    <td><span class="usage2">32</span></td>
                                </tr>
                                <tr>
                                    <td> HTD E41</td>
                                    <td><span class="usage3">45</span></td>
                                </tr>
                                <tr>
                                    <td> IIU I62</td>
                                    <td><span class="usage4">61</span></td>
                                </tr>
                                <tr>
                                    <td> BGH RE3</td>
                                    <td><span class="usage5">22</span></td>
                                </tr>
                                <tr>
                                    <td> OIU T65</td>
                                    <td><span class="usage6">10</span></td>
                                </tr>
                                <tr>
                                    <td> ASD UY8</td>
                                    <td><span class="usage7">7</span></td>
                                </tr>
                                <tr>
                                    <td> BGH 90R</td>
                                    <td><span class="usage8">56</span></td>
                                </tr>
                                <tr>
                                    <td> YYT RR5</td>
                                    <td><span class="usage9">97</span></td>
                                </tr>
                                <tr>
                                    <td> VBH NJ2</td>
                                    <td><span class="usage10">21</span></td>
                                </tr>


                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>

            </div>


        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor/pacejs/pace.min.js"></script>
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- App scripts -->
<script src="scripts/luna.js"></script>

<script>
    $(document).ready(function () {


        // Function to generate data
        function setUsage(selector){

            var usage1 = Math.floor(Math.random() * 100) + 1;
            $(selector).text(usage1 + '%');
            if (usage1 > 40) {
                $(selector).addClass('c-accent');
            } else {
                $(selector).removeClass('c-accent')
            }

        }

        // Generate data for all span elements
        function generate() {

            setUsage('.usage1');
            setUsage('.usage2');
            setUsage('.usage3');
            setUsage('.usage4');
            setUsage('.usage5');
            setUsage('.usage6');
            setUsage('.usage7');
            setUsage('.usage8');
            setUsage('.usage9');
            setUsage('.usage10');
            setUsage('.usage11');
            setUsage('.usage12');
            setUsage('.usage13');
            setUsage('.usage14');
            setUsage('.usage15');
            setUsage('.usage16');
            setUsage('.usage17');
            setUsage('.usage18');
            setUsage('.usage19');


        }

        // Run interval function
        usageInterval = setInterval(generate, 800);

    });
</script>

</body>

</html>